@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;500&display=swap');
:root {
    --main-background-color: rgb(0,0,0);
    --title-text-color: rgb(255,255,255);
    --body-text-color: rgb(188,188,188);
    --container-color: rgb(121,121,121);
    --button-color: rgb(57, 57, 57);
}
body,html {
    margin:0;
    padding:0;
    background-color: var(--main-background-color);
    color: var(--title-text-color);
    display:flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
body,html {
    margin:0;
    padding:0;
    background-color: var(--main-background-color);
    color: var(--title-text-color);
    display:flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
body,html {
    font-family: 'Noto Sans KR', sans-serif;
    margin:0;
    padding:0;
    background-color: var(--main-background-color);
    color: var(--title-text-color);
    display:flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.container {
    background-color: var(--container-color);
    padding: 10px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}
.container p {
    margin:0;
    padding:0;
}
.container .titletxt {
	font-size: 20;
	color: var(--title-text-color);
	padding: 10px 0px;
}
.container .bodytxt {
	font-size: 15px;
	color: var(--body-text-color);
	padding: 2px 0px;
}
